.search-button {
    background: white url(../../assets/search.svg);
    background-repeat: no-repeat;
    position: relative;
    min-width: 40px;
    min-height: 38px;
    border: none;
    margin-left: -40px;    
}

Nav.Link {
    color: wheat;
}