.search-button {
    background: white url(../../assets/search.svg);
    background-repeat: no-repeat;
    position: relative;
    min-width: 36px;
    min-height: 34px;
    border: none;
    margin-left: -42px;    
}