.cart-sidebar {
    width: 350px;
    height: 100%;

    &-empty {
        height: 100%;
        display: flex;
        align-items: center;

        &-content {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}