.item-not-found-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
    font-family: 'Courier New', Courier, monospace
}

.item-not-found-pic {
    background: url(../../assets/kitty.svg);
    background-repeat: no-repeat;
    position: relative;
    min-width: 250px;
    min-height: 250px;
}