.home {
  .carousel {
    &-item {
      max-height: 300px;

      img {
        margin-top: -200px;
      }
    }

    &-caption {
      background-color: rgba(65, 154, 135, 0.3);
    }
  }

  &-categories {
    &-item {
      display: flex;
      height: 22rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 8rem;
      }
    }
  }
}