.cart-sidebar-list {
    height: 100%;
    width: 100%;

    &-item {
        $item: &;
        $quantitySize: 17px;
        $quantityBgcLess: rgb(229, 106, 119);
        $quantityBgcMore: rgba(48, 146, 125, 0.918);

        &_header {
            font-weight: 600;

            #{$item}-name {
                font-weight: 600;
            }
        }

        &-name {
            font-weight: 400;
        }

        &-description {
            flex: 1;
        }

        &-price {
            font-size: 0.7rem;
            color: #808080;
        }

        &-quantity {
            width: 90px;

            &-less,
            &-more {
                border-radius: 50%;
                border-radius: 50%;
                width: $quantitySize;
                height: $quantitySize;
                padding: 0px;
                color: #fff;
                text-align: center;
                font-size: 15px;
                line-height: 0.3;
                margin-bottom: 4px;
            }

            &-less {
                background: $quantityBgcLess;
                border: 2px solid darken($quantityBgcLess, 15);
            }

            &-more {
                background: $quantityBgcMore;
                border: 2px solid darken($quantityBgcMore, 15);
            }
        }

        &-value {
            width: 60px;
        }

        &-remove {
            background: #fff url(../../assets/bin.svg) no-repeat;
            content: ' ';
            width: 35px;
            height: 24px;
            background-size: 34px 22px;
        }
    }
}